.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 13px;
  border-bottom: solid 1.5px #d0d0d0;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
}

.logo {
  width: 38px;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 1.5px #d0d0d0;
  border-radius: 10000px;
  color: #6c6c6c;
  cursor: pointer;
}

.icon {
  color: white;
  background-color: #ff385c;
  padding: 10px;
  border-radius: 10000px;
}

.searchbar > * {
  padding-left: 10px;
  padding-right: 10px;
}

.right-border-searchbar {
  border-right: 1px solid #d0d0d0;
  font-weight: 500;
  color: black;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sub-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px;
    padding-left: 12px;
    border: 1px solid #d0d0d0;
    border-radius: 100000px;
}

.fa-user {
    color: white;
    background-color: #6c6c6c;
    border-radius: 1000px;
    width: 25px;
    height: 25px;
}